* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Liter", sans-serif;
}
html,
body {
  background: #131313;
}
/* NAVBAR */
/* NAVBAR HEADER */
.navbar {
  background: #131313;
  height: 80px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  z-index: 1;
  width: 100%;
  /* max-width: 1300 px; */
  margin: 0 auto;
  padding: 0 10px;
}
.navbar__menu li {
  list-style: none;
  display: inline-block;
}
.navbar__menu li a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1rem;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
}
.navbar__menu li a:hover {
  /* background-image:linear-gradient(to top, #e5e4e2 0%, #ffd700 100%);
         */
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.4) 0%,
    /* Glossy highlight */ rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border-radius: 10px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  color: #000000;
  transition: all 0.3s ease;
}
#navbar__logo {
  background-color: rgb(227, 34, 34);
  text-decoration: none;
  background-image: linear-gradient(
    to top,
    rgb(255, 253, 253) 0%,
    #ffd700 100%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 20px;
  font-family: "Liter", sans-serif;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: lighter;
}

.navbar__menu {
  display: flex;
  align-items: center;
  text-align: center;
}
.navbar__item {
  height: 100%;
}
/* END OF NAVBAR */
.main {
  /* background-image: url("/Images/Home_Background2.png"); */
  background: #131313;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.section__container2 {
  color: white;
  height: auto;
  width: 100%;
}

.section__container2 .section2__title {
  margin: 20px;
  text-align: center;
  background: linear-gradient(to right, rgb(243, 195, 100) 0%, #ffaa00 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.explore__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 20px;
  height: auto;
  /* width: 100%; */
}

.item__wrapper {
  border: 1px solid rgb(36, 36, 36);
  height: 613.72px;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  background-color: rgb(36, 36, 36);
  transition: 0.2s;
}
.item__wrapper:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.item__headerMain {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.item__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.item__content img {
  height: 238.6;
  width: 100%;
  border-radius: 10px;
  margin: 20px 0px;
}
.explore__btn a {
  text-decoration: none;
  color: white;
}
.explore__btn {
  background-color: #ec8d08;
  padding: 10px;
  margin: 20px 0px;
  border: 1px solid white;
}
.explore__btn a {
  text-decoration: none;
  color: white;
}
.explore__btn {
  background-color: #ec8d08;
  padding: 10px;
  margin: 20px 0px;
  border: 1px solid white;
  transition: all 0.5s ease;
  border-radius: 10px;
}
.explore__btn::before {
  content: "";
  position: absolute;
  transition: all 0.5s ease;
  opacity: 0;
}
.explore__btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 196, 0, 0.5);
}
.explore__btn:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

.material-symbols-outlined {
  color: rgb(175, 139, 39);
}
.checklist {
  margin: 20px 20px;
}
li::marker {
  color: rgb(55, 189, 55);
}

.section__container3 {
  color: white;
}
.section__container3 h2 {
  text-align: center;
}
.section__wrapper3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

@media screen and (max-width: 960px) {
  body,
  html {
    overflow-x: hidden;
  }
  .navbar__container {
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 100%;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.3 ease;
    height: auto;
    z-index: -1;
    background: #131313;
  }
  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: auto;
    font-size: 1.6 rem;
  }

  #navbar__logo {
    padding-left: 20px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }
  .navbar__item {
    width: 100%;
    margin: 10px 0px;
  }
  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile__menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile__menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile__menu.is-active .bar:nth-child(1) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .image-section {
    height: 300px;
    width: 300px;
  }
  .about {
    flex-direction: column;
    margin: 30px 0px;
  }
  article {
    margin-top: 10px;
  }
  .image-section2,
  .image-section4 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
/* FOOTER */
.footer-container
{
  background-color: #242424;
  height: 100%;
  width: 100%;
  margin-top: 50px;
}
.footer_wrapper1
{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 100px;
  row-gap: 50px;
}
.footer_wrapper1 h3
{
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 2px;
}
.footer-col1
{
  margin-top: 30px;
}
.footer-col1 a
{
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
  color: white;
  transition: 0.2s;
}
.footer-col1 a:hover
{
  color: #ec8d08;
}
.footer-col2
{
  margin-top: 30px;
}
.footer-col2 button
{
  transition: 0.2s;
}
.footer-col2 button::before {
  content: "";
  position: absolute;
  transition: all 0.5s ease;
  opacity: 0;
}
.footer-col2 button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 196, 0, 0.5);
  background-color: #ec8d08;
}
.footer-col2 button:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}
.footer-col3
{
  margin-top: 30px;
}
form input
{
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}
form button
{
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}
.footer_wrapper2
{
  display: flex;
  text-align: center;
  justify-content: center;
  margin:auto;
  margin-top: 50px;
  width: 50%;
}
.footer_wrapper2 p
{
  margin-top: 20px;
}
.footer_wrapper2 img
{
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}
