* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Liter", sans-serif;
}

html,
body {
  background: #131313;
}

.main {
  /* background-image: url("/Images/Home_Background2.png"); */
  background: #131313;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

/* NAVBAR HEADER */
.navbar {
  background: #131313;
  height: 80px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  z-index: 1;
  width: 100%;
  /* max-width: 1300 px; */
  margin: 0 auto;
  padding: 0 10px;
}

.navbar__menu li {
  list-style: none;
  display: inline-block;
}

.navbar__menu li a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1rem;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
}

.navbar__menu li a:hover {
  /* background-image:linear-gradient(to top, #e5e4e2 0%, #ffd700 100%);
       */
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.4) 0%,
    /* Glossy highlight */ rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border-radius: 10px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  color: #000000;
  transition: all 0.3s ease;
}

#navbar__logo {
  background-color: rgb(227, 34, 34);
  text-decoration: none;
  background-image: linear-gradient(
    to top,
    rgb(255, 253, 253) 0%,
    #ffd700 100%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 20px;
  font-family: "Liter", sans-serif;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: lighter;
}

.navbar__menu {
  display: flex;
  align-items: center;
  text-align: center;
}

.navbar__item {
  height: 100%;
}

.header__container {
  display: flex;
  gap: 2rem;
  color: white;
  background-color: #131313;
  margin-bottom: 10px;
}

.header__imageWrap {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 800px;
}

.header__container {
  width: 100%;
  height: 100%;
}

.header__wrapper {
  width: 100%;
  height: 100%;
}

.header__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 841px;
}

.header__item__img {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/DRAFT/homePics/bg1.jpg");
  background-size: cover;
  background-position: center;
  filter: grayscale(70%) blur(2px);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.header__content {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background: linear-gradient(
    135deg,
    rgba(126, 126, 125, 0.3),
    rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  margin: 40px 0px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  padding: 10px 20px;
}

.header__item .header__content h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
  text-align: center;
  background: linear-gradient(to right, rgb(243, 195, 100) 0%, #ffaa00 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  letter-spacing: 10px;
}

.header__content p {
  line-height: 2rem;
  font-size: 1.2rem;
}

.header__content .section__description {
  margin-bottom: 2rem;
}

.btn {
  margin-bottom: 2rem;
  text-align: center;
}

.section__description {
  text-align: center;
}

.header__stats {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header stats h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
}

.header__stats p {
  font-size: 0.9rem;
  color: var(--extra-light);
}

.header__container {
  padding-block: 0;
  align-items: flex-end;
}

.header__content {
  padding-block: 5rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f99d00e3;
  /* margin-top: 40px; */
  height: 60px;
  width: 300px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1-px;
}

.btn::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 196, 0, 0.5);
}

.btn:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

.section__container2 {
  color: white;
  height: auto;
  width: 100%;
}

.section__container2 .section2__title {
  margin: 20px;
  text-align: center;
  background: linear-gradient(to right, rgb(243, 195, 100) 0%, #ffaa00 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.explore__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 20px;
  height: auto;
  /* width: 100%; */
}

.item__wrapper {
  border: 1px solid rgb(36, 36, 36);
  height: 600px;
  overflow: hidden;
  min-height: 550px;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  background-color: rgb(36, 36, 36);
  transition: 0.2s;
}

.item__wrapper:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.item__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.item__content img {
  height: auto;
  width: 100%;
  border-radius: 10px;
  margin: 20px 0px;
}

.explore__btn a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.explore__btn {
  background-color: #242424;
  cursor: pointer;
  color: white;
  padding: 10px;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 20px 0px;
  margin-bottom: 60px;
  transition: all 0.5s ease;
  border: 1px solid white;
  border-radius: 5px;
}

.explore__btn::before {
  content: "";
  position: absolute;
  transition: all 0.5s ease;
  opacity: 0;
}

.explore__btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 196, 0, 0.5);
  background-color: #f3be00;
}

.explore__btn a:hover {
  color: #000000;
}

.explore__btn:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

.material-symbols-outlined {
  color: rgb(175, 139, 39);
}

.checklist {
  margin: 20px 20px;
}

li::marker {
  color: rgb(55, 189, 55);
}

.section__container3 {
  color: white;
}

.section__container3 h2 {
  text-align: center;
}

.section__wrapper3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.review {
  width: 300px;
  height: 467.116px;
  background-color: rgb(36, 36, 36);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  border-radius: 10px;
  transition: transform 0.3s;
  padding: 20px;
}

.review:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.review img {
  width: 175px;
  height: 154px;
  border-radius: 50%;
  border: 3px solid rgb(175, 139, 39);
  margin: 10px 0px;
}

.section2__title {
  margin: 20px;
  text-align: center;
  background: linear-gradient(to right, rgb(243, 195, 100) 0%, #ffaa00 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.review h3 {
  margin: 5px 0px 0px 0px;
}

.stars {
  margin: 20px 0px 5px 0px;
}

.review article {
  padding: 10px;
}

/* END NAVBAR */

/* FOOTER */
.footer-container {
  background-color: #242424;
  height: 100%;
  width: 100%;
  margin-top: 50px;
  padding-bottom: 40px;
}

.footer_wrapper1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 40px;
}

.footer_wrapper1 h3 {
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.footer-col1 {
  margin-top: 30px;
  width: 300px;
}

.footer-col1 a {
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
  color: white;
  transition: 0.2s;
}

.footer-col1 a:hover {
  color: #ec8d08;
}

.footer-col2 {
  margin-top: 30px;
  width: 400px;
}

.footer-col2 button {
  transition: 0.2s;
}

.footer-col2 button::before {
  content: "";
  position: absolute;
  transition: all 0.5s ease;
  opacity: 0;
}

.footer-col2 button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 196, 0, 0.5);
  background-color: #ec8d08;
  color: black;
}

.footer-col2 button:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

.footer-col3 {
  margin-top: 30px;
  width: 300px;
}

form input {
  width: 70%;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}

form button {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}

.footer_wrapper2 {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  width: 50%;
}

.footer_wrapper2 p {
  margin-top: 20px;
}

.footer_wrapper2 img {
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

/* FOOTER INTERACTION */
.confirm-popup {
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s, ease-in-out;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirm-popup.open {
  opacity: 1;
  z-index: 10;
}

.popup-inner {
  background-color: #131313;
  border-radius: 10px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  padding: 15px 25px;
  text-align: center;
  width: 30%;
}

.popup-inner h2 {
  letter-spacing: 1px;
  color: rgba(243, 195, 100, 1);
}

.popup-inner p {
  line-height: 1.6rem;
  margin: 20px 0px;
  color: white;
}

#closePopup {
  width: 100%;
  margin: 10px 0px;
}

article p {
  font-size: 1.2rem;
}

.checklist ul li {
  font-size: 1.2rem;
}

/* media query */
@media screen and (max-width: 960px) {
  body,
  html {
    overflow-x: hidden;
  }

  .navbar__container {
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 100%;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.3 ease;
    height: auto;
    z-index: -1;
    background: #131313;
  }

  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: auto;
    font-size: 1.6 rem;
  }

  #navbar__logo {
    font-size: 1.77rem;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
    margin: 10px 0px;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  .header-container .header h1 {
    transition: all 0.2s ease;
    transform: scale(0.7);
  }

  .header-container hr {
    transition: all 0.2s ease;
    transform: scale(0.7);
    scale: 0.7;
  }

  .header .header-paragraph {
    transition: all 0.2s ease;
    transform: scale(0.7);
  }

  .trial {
    transition: all 0.2s ease;
    transform: scale(0.9);
  }

  #mobile__menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile__menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile__menu.is-active .bar:nth-child(1) {
    transform: translateY(-8px) rotate(-45deg);
  }
  /* END of navbar for smaller screens */

  /* START of main content for smaller screens */
  .header__content {
    width: 100%;
  }

  .header__item .header__content h1 {
    font-size: 2.2rem;
    line-height: 1.4;
    letter-spacing: normal;
  }

  .header__item .header__content p {
    font-size: 1, 2rem;
  }

  .header__stats p {
    line-height: 1.4;
  }

  .explore__wrapper {
    display: flex;
    flex-direction: column;
  }

  .item__wrapper {
    margin-bottom: 15px;
  }

  .item__wrapper:hover {
    transform: none !important; /* Disables scale(1.1) */
    -webkit-transform: none !important;
    -ms-transform: none !important;
  }

  .item__header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5px;
  }

  .section__wrapper3 {
    display: flex;
    flex-direction: column;
  }

  .review {
    margin-top: 30px;
  }

  .review:hover {
    transform: none !important; /* Disables scale(1.2) */
    -webkit-transform: none !important;
    -ms-transform: none !important;
  }

  .popup-inner {
    width: 100%;
    margin: 10px;
  }

  .header__content .section__description {
    margin-bottom: 2px;
  }

  .explore__btn a {
    font-size: 1rem;
  }
  
  .explore__btn {
    padding: 7px 20px 7px 20px;
  }

  article p {
    font-size: 1.2rem;
  }
  
  .checklist ul li {
    font-size: 1.2rem;
  }
}
