* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Liter", sans-serif;
}
/* 
html,
body {
  height: 100%;
  width: 100%;
  background-color: #131313;
} */

/* NAVBAR HEADER */
.navbar {
  background: #131313;
  height: 80px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  z-index: 1;
  width: 100%;
  /* max-width: 1300 px; */
  margin: 0 auto;
  padding: 0 10px;
}
.navbar__menu li {
  list-style: none;
  display: inline-block;
}
.navbar__menu li a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1rem;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
}
.navbar__menu li a:hover {
  /* background-image:linear-gradient(to top, #e5e4e2 0%, #ffd700 100%);
     */
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.4) 0%,
    /* Glossy highlight */ rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border-radius: 10px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  color: #000000;
  transition: all 0.3s ease;
}
#navbar__logo {
  background-color: rgb(227, 34, 34);
  text-decoration: none;
  background-image: linear-gradient(
    to top,
    rgb(255, 253, 253) 0%,
    #ffd700 100%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 20px;
  font-family: "Liter", sans-serif;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: lighter;
}

.navbar__menu {
  display: flex;
  align-items: center;
  text-align: center;
}
.navbar__item {
  height: 100%;
}

/* media query */
@media screen and (max-width: 960px) {
  body,
  html {
    overflow-x: hidden;
  }
  .navbar__container {
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 100%;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.3 ease;
    height: auto;
    z-index: -1;
    background: #131313;
  }
  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: auto;
    font-size: 1.6 rem;
  }

  #navbar__logo {
    padding-left: 20px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }
  .navbar__item {
    width: 100%;
    margin: 10px 0px;
  }
  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile__menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile__menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile__menu.is-active .bar:nth-child(1) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* START OF ABOUT US MAIN */

.aboutUs__main {
  background-color: #131313;
  height: auto;
  width: 100%;
  display: flex;
  position: relative;
  color: white;
  /* padding: 22.5px; */
  display: flex;
  flex-direction: column;
}

.title-wrapper {
  width: 100%;
  display: flex; /* Makes the title wrapper a flex container */
  justify-content: center; /* Centers the child (h1) inside it */
}

.title h1 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 40px 0;
  display: inline-block; /* Ensures background wraps only the text */
  letter-spacing: 15px;
}
.about {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 50px;
  background-color: rgb(36, 36, 36);
  margin: 40px 40px 20px 40px;
  border-radius: 10px;
  /* background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  margin: 40px 0px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}
.item__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.image-section {
  background-size: cover;
  background-position: center;
  width: 170%;
  height: 600px;
  border-radius: 10px;
  border: 2px solid rgb(175, 139, 39);
  display: block;
}

.image-section1 {
  background-image: url("/ABOUT US/AboutUsImages/startup.webp");
}

.image-section2 {
  background-image: url("/ABOUT US/AboutUsImages/yoga.jpg");
}
.image-section3 {
  background-image: url("/ABOUT US/AboutUsImages/different.jpg");
}
.image-section4 {
  background-image: url("/ABOUT US/AboutUsImages/healthy.jpg");
}
.image-section {
  margin: 20px;
}
.image-section2,
.image-section4 {
  margin-top: 50px;
  margin-bottom: 20px;
}

article {
  width: 90%;
  line-height: 1.6;
}
article h3 {
  font-size: 2rem;
  font-weight: 500;
  color: #f3be00;
}
article p {
  font-size: 1.3rem;
  color: white;
}
.material-symbols-outlined {
  color: rgb(175, 139, 39);
}
.btn {
  margin-top: 35px;
  width: 100%;
}
.explore__btn a {
  text-decoration: none;
  color: white;
}
.explore__btn {
  background-color: #242424;
  padding: 10px;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 20px 0px;
  transition: all 0.5s ease;
  border: 1px solid white;
  border-radius: 5px;
}
.explore__btn::before {
  content: "";
  position: absolute;
  transition: all 0.5s ease;
  opacity: 0;
}
.explore__btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 196, 0, 0.5);
  background-color:#f3be00;
}
.explore__btn:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}
.btn a {
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  font-size: 1.3rem;
  font-weight: 300;
  border-radius: 5px;
  border: 1px solid #f3be00;
  background-color: rgba(243, 190, 0, 0); /* Start transparent */
}

/*
.btn a:hover {
  background-color: rgba(243, 190, 0, 0.75); /* Fade in on hover
  transition: 0.5s ease;
}
*/
.aboutUs__main h3 {
  margin-bottom: 20px;
}
/* END OF ABOUT US MAIN */

/* media query */
@media screen and (max-width: 960px) {
  body,
  html {
    overflow-x: hidden;
  }
  .navbar__container {
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 100%;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.3 ease;
    height: auto;
    z-index: -1;
    background: #131313;
  }
  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: auto;
    font-size: 1.6 rem;
  }

  #navbar__logo {
    padding-left: 20px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }
  .navbar__item {
    width: 100%;
    margin: 10px 0px;
  }
  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile__menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile__menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile__menu.is-active .bar:nth-child(1) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* ABOUT US MEDIA QUERY */

  .title-wrapper {
    margin-top: 15px;
  }
  .title h1 {
    font-size: 28px;
    text-align: center;
  }
  .image-section {
    height: 300px;
    width: 300px;
  }
  .about {
    flex-direction: column;
    margin-top: 10px;
  }
  article {
    margin-top: 10px;
  }
  .image-section2,
  .image-section4 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
/* END NAVBAR */

/* FOOTER */
.footer-container
{
  background-color: #242424;
  height: 100%;
  width: 100%;
  margin-top: 50px;
}
.footer_wrapper1
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.footer_wrapper1 h3
{
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 2px;
}
.footer-col1
{
  margin-top: 30px;
  width: 300px;
}
.footer-col1 a
{
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
  color: white;
  transition: 0.2s;
}
.footer-col1 a:hover
{
  color: #ec8d08;
}
.footer-col2
{
  margin-top: 30px;
  width: 400px;
}
.footer-col2 button
{
  transition: 0.2s;
}
.footer-col2 button::before {
  content: "";
  position: absolute;
  transition: all 0.5s ease;
  opacity: 0;
}
.footer-col2 button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 196, 0, 0.5);
  background-color: #ec8d08;
}
.footer-col2 button:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}
.footer-col3
{
  margin-top: 30px;
  width: 300px;
}
form input
{
  width: 300px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}
form button
{
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}
.footer_wrapper2
{
  display: flex;
  text-align: center;
  justify-content: center;
  margin:auto;
  margin-top: 50px;
  width: 50%;
}
.footer_wrapper2 p
{
  margin-top: 20px;
}
.footer_wrapper2 img
{
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

